<nav class="flex h-14 p-2 font-sans text-sm/[13px] justify-end ">
    <div class="p-1 pl-4 ">Gmail</div>
    <div class="p-1 pl-4">Images</div>
    <div class="mr-2 mt-2 h-6 w-6">
        <svg focusable="false" viewBox="0 0 24 24">
            <path
                d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z">
            </path>
        </svg>
    </div>
    <div class="w-24 h-9 p-2 pl-4 text-white bg-blue-600 rounded-sm">Sign in</div>
</nav>
<main>
    <div class="flex justify-center">
        <span class="font-sans text-[7em] text-blue-500">G</span>
        <span class="font-sans text-[7em] text-red-500">o</span>
        <span class="font-sans text-[7em] text-yellow-500">o</span>
        <span class="font-sans text-[7em] text-blue-500">g</span>
        <span class="font-sans text-[7em] text-green-500">l</span>
        <span class="font-sans text-[7em] text-red-500">e</span>
    </div>
    <div class="flex justify-center">
        <input type="text" class="w-96 h-14 rounded-3xl" />
    </div>
    <div class="flex m-6 p-2 justify-center">
        <input type="button" value="Google Search" class="bg-slate-100 mx-3 px-4 py-1 rounded-md" />
        <input type="button" value="I'm Feeling Lucky" class="bg-slate-100 mx-3 px-4 py-1 rounded-md" />

    </div>

    <div id="SIvCob" class="flex justify-center">
        Google offered in:  
        <div class="text-blue-700">
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=hi&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBE">हिन्दी</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=bn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBI">বাংলা</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=te&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBM">తెలుగు</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=mr&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBQ">मराठी</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=ta&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBU">தமிழ்</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=gu&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBY">ગુજરાતી</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=kn&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBc">ಕನ್ನಡ</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=ml&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBg">മലയാളം</a>    
        <a class="px-2" href="https://www.google.com/setprefs?sig=0_5Iv-lMykRpBGE6z4FbA0aSaQouI%3D&amp;hl=pa&amp;source=homepage&amp;sa=X&amp;ved=0ahUKEwi8htDWqOD-AhV2nFYBHUYODqAQ2ZgBCBk">ਪੰਜਾਬੀ</a>  </div>

    </div>
</main>