<div class="navbar flex justify-between items-center">
    <div class="flex justify-center items-center md:order-2">
        <div class="hamburger inline-block p-3 md:hidden">
            <div class="line h-0.5 w-6 my-1 bg-black"></div>
            <div class="line h-0.5 w-6 my-1 bg-black"></div>
            <div class="line h-0.5 w-6 my-1 bg-black"></div>
        </div>
        <div class="search md:hidden">SearchIcon</div>
    </div>
    <div class=" flex logo text-center md:order-1">
        <div>Microsoft</div>

        <div class="features w-fit absolute inset-0 -translate-x-80 md:bg-white bg-gray-200 md:static md:translate-x-0 md:flex md:mx-4 md:space-x-2">
            <div class="fitem">Microsoft 365</div>
            <div class="fitem">Teams</div>
            <div class="fitem">Windows</div>
            <div class="fitem">Surface</div>
            <div class="fitem">Xbox</div>
            <div class="fitem">Support</div>
        </div>

    </div>
    <div class="flex cart text-center md:order-3">
        <div class="hidden md:block"> All Microsoft SearchIcon</div>
        <div>Cart Account</div>
    </div>
</div>

<div class="slider flex  flex-col-reverse md:flex-row">
    <div class="left">left</div>
    <div class="right">
        <img src=" http://127.0.0.1:8081/images/carasousel1.avif"/>
    </div>
</div>