<div>
    <div id="#modal" class="absolute inset-0 bg-black bg-opacity-70 flex
    justify-center items-center">
            <div class="p-1 bg-yellow-300 h-40 w-96 border-4 border-solid border-blue-100 shadow-2xl shadow-yellow-400">
                <div class="ml-2 text-lg font-sans">
                    <div class="flex items-center justify-between text-xl font-bold">
                        <p>Rules</p>
                        <i (click)="closeModal()" class="fa fa-solid fa-xmark"></i>
                    </div>
                    <li>Select a topic.</li>
                    <li>Update Color of your choice.</li>
                    <li>Add Players.</li>
                    <li>Play Game</li>
                </div>
            </div>
    </div>
        

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aspernatur libero nisi provident
        exercitationem minus est deleniti reiciendis nihil dicta eum pariatur placeat hic ratione, eos a. Dolor,
        delectus tempora.
    </div>