<nav class="flex h-12 p-2 bg-slate-200 justify-end">
    <div>
        <div class="logo absolute p-1 left-5 shadow-lg text-center font-sans text-orange-500">
            Quizzy Game
        </div>
    </div>
    <ul class="mx-2 shadow-md text-center w-20 px-3 text-lg hover:bg-slate-50">Home</ul>
    <ul class="mx-2 text-center w-20 px-3 text-lg shadow-md hover:bg-slate-50">Abouts</ul>
    <input type="button" class="mx-2 text-center w-fit px-3 text-lg shadow-md hover:bg-slate-50" value="Game Rules"/>
</nav>